:root {
    --main-color-title: #212121;
    --main-color-text: #757575;
    --accent-color: #2196F3;
    --additional-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --main-background-color: #fff;
    --header-bg: #ECECEC;
    --additional-bg: #2F303A;
    --light-background-color: #F5F4FA;
    --link-color: #afb1b8
  }