.clients__titel {
  @extend %titel;
  font-size: 28px;
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
  @media screen and (max-width: $desktop) {
    margin-bottom: 30px;
  }
}

.clients {
  @media screen and (max-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.clients__item {
  flex-basis: calc((100% - 4 * 15px) / 2);

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
  @media screen and (max-width: 479px) {
    margin-left: 10px;
  }

}

.clients__link {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--link-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: $mobile) {
      width: 210px;
      height: 92px;
    }
  
    @media screen and (min-width: $tablet) {
      width: 226px;
      height: 92px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 170px;
      height: 92px;
    }



    &:hover {
      border: 1px solid var(--accent-color);
    }

    &:hover .clients__icon,
    &:focus .clients__icon {
      fill: var(--accent-color);
    }
  }
  
  .clients__icon {
    fill: var(--link-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
