.team {
    background-color: #F5F4FA;

    @media screen and (max-width: $desktop) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .team__titel {
    @extend %titel;

    @media screen and (max-width: $desktop) {
      font-size: 28px;
    }
  }

  .team__list {

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
    }
  }
  
 .team__item {
  width: 100%;
  height: 100%;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $mobile) {
      width: 450px;
      height: 622px;
    }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px) / 2);
      height: 536px;
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 60px) / 3);
      height: 428px;
      margin-bottom: 0;
    }

    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team__person {
    padding: 30px 0;
  }
  
  .team__name {
    margin-bottom: 10px;
    color: var(--main-color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .team__post {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
  }
